.main
  .main-info
    .main-info__group-name
      グループ名
    %ul.main-info__group-members
      %li.main-info__group-members--title
        member:
      %li.main-info__group-members--name
        市川
      %ii.main-info__group-members--name
        石川
    = link_to edit_group_path(@group) do
      .main-info__edit
        Edit
  .main-massages
    = render 'shared/massage'
  .main-sendding
    = form_for [@group, @message] do |f|
      = f.text_filed class: "main-sendding__writting", placeholder: "type a massage"
      = f.label :image, class: "main-sendding__file"
        = fa_icon "picture-o", class: "main-sendding__file--icon"
        = f.file_field :image, class: "input.main-sendding__file--input-image", id: "upload-icon"
      = f.submit 'Send', class: "main-sendding__send"
